<?xml version="1.0"?>
<launch>
    <!-- Launch Rviz -->
    <include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>

    <!-- Arguments -->
    <arg name="scan_topic"     default="scan"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0.0"/>

</launch>
